<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">        
        <meta name="viewport" content="initial-scale=1.0">
        <title>SGI</title>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>